
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f0f4f8;
  margin: 0;
  padding: 0;
  text-align: center;
}

.app {
  padding: 2rem;
}

h1 {
  margin-bottom: 1.5rem;
  color: #333;
}

form {
  margin-bottom: 2rem;
}

input {
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  margin-left: 10px;
  background: #3b82f6;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 20px;
}

.image-card {
  background: white;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s;

  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
}

.image-card:hover {
  transform: scale(1.03);
}

.image-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}
